<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>coin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,172},{177,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,171}}</string>
			<key>sourceSize</key>
			<string>{177,171}</string>
		</dict>
		<key>coin2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,496},{150,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,171}}</string>
			<key>sourceSize</key>
			<string>{150,171}</string>
		</dict>
		<key>coin3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,647},{118,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,171}}</string>
			<key>sourceSize</key>
			<string>{118,171}</string>
		</dict>
		<key>coin4.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,0},{65,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,171}}</string>
			<key>sourceSize</key>
			<string>{65,171}</string>
		</dict>
		<key>coin5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,766},{117,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,171}}</string>
			<key>sourceSize</key>
			<string>{117,171}</string>
		</dict>
		<key>coin6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,344},{151,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,171}}</string>
			<key>sourceSize</key>
			<string>{151,171}</string>
		</dict>
		<key>coin7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{180,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,171}}</string>
			<key>sourceSize</key>
			<string>{180,171}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>coin.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>coin.png</string>
	</dict>
</dict>
</plist>
