<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jump1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,247},{78,99}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,11},{78,99}}</string>
			<key>sourceSize</key>
			<string>{87,110}</string>
		</dict>
		<key>jump2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,80},{82,102}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,8},{82,102}}</string>
			<key>sourceSize</key>
			<string>{87,110}</string>
		</dict>
		<key>jump3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,163},{83,101}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,9},{83,101}}</string>
			<key>sourceSize</key>
			<string>{87,110}</string>
		</dict>
		<key>jump4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,326},{81,90}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,20},{81,90}}</string>
			<key>sourceSize</key>
			<string>{87,110}</string>
		</dict>
		<key>jump5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,408},{84,89}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,21},{84,89}}</string>
			<key>sourceSize</key>
			<string>{87,110}</string>
		</dict>
		<key>jump6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{79,103}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{79,103}}</string>
			<key>sourceSize</key>
			<string>{87,110}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jump.png</string>
		<key>size</key>
		<string>{128,512}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>jump.png</string>
	</dict>
</dict>
</plist>
